<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/jarsearch/src/com/lake/jarsearch/JarSearch.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.lake.jarsearch.JarSearch"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-r -a  com.drkw.dm.router.api C:\dev\ebond\eBondTS\shared\lib"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="jarsearch"/>
</launchConfiguration>
